%form{ action: "#", method: "post" }
  %ul
    - @lists.each do |list|
      %li.flex.items-center.justify-between.mb-4{ "data-check-target" => "listItem", "data-list-id" => list.id }
        .flex.items-center{ "data-controller" => "check" }
          %span{ "data-action" => "click->check#toggle", "data-check-target" => "icon", "data-checked" => "false" }
            %svg{ xmlns: "http://www.w3.org/2000/svg", class: "h-6 w-6 text-gray-400", fill: "none", viewBox: "0 0 24 24", stroke: "currentColor" }
              %path{ "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", "d" => "M15 12H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" }
          %label.ml-2{ for: "list_#{list.id}" }
            = link_to list_path(list), class: 'block' do
              %span.text-gray-900.font-medium= number_to_currency(list.price)
              %span.text-gray-700= " for "
              %span.font-medium.text-gray-900= truncate(list.name, length: 15)
        %span.text-gray-700.text-right{ "data-due-date" => list.next_due_date.to_s }
          - if list.next_due_date.present?
            = list.next_due_date.strftime('%b %d')
          - else
            = "No due date"
