%form{ action: "#", method: "post" }
  %ul
    - @lists.each do |list|
      = link_to list, class: 'block' do
        %li.flex.items-center.mb-2
          %input{ type: "checkbox", name: "selected_lists[]", value: list.id, id: "list_#{list.id}" }
          %label.ml-2{ for: "list_#{list.id}" }
            %span.text-gray-700= list.due_date.strftime('%b %d, %Y')
            %span.mx-2.text-gray-500 | |
            %span.font-medium.text-gray-900= list.name
            %span.mx-2.text-gray-500 | |
            %span.text-gray-700= number_to_currency(list.price)
