%body.bg-gray-100
  .bg-gray-100
    .relative.isolate.px-6.pt-14.lg:px-8.mx-auto
      .mx-auto.max-w-2xl.py-32.sm:py-48.lg:py-56
        %h1.text-3xl.font-bold.text-center.mb-8 Payment List Item Details

        %p#notice.text-green-500.font-semibold.mt-4= notice

        .mb-8
          %p.text-sm.mb-4
            %b Name:
            = @list.name
          %p.text-sm.mb-4
            %b Price:
            = number_to_currency(@list.price)
          %p.text-sm.mb-4
            %b Description:
            = @list.description
          %p.text-sm.mb-4
            %b Next Due date:
            - if @list.next_due_date.present?
              = @list.next_due_date.strftime("%B %d, %Y")
          %p.text-sm.mb-4
            %b Effective Start date:
            = @list.effective_start_date.strftime("%B %d, %Y")

          - if @list.effective_end_date.present?
            %p.text-sm.mb-4
              %b Effective End date:
              = @list.effective_end_date.strftime("%B %d, %Y")

        - if @list.payment_schedule
          %h2.text-sm.text-center.font-semibold.mb-8 Payment Schedule Details

          %p.text-sm.mb-4
            %strong Frequency:
            = @list.payment_schedule.human_readable_frequency

          - if @list.payment_schedule.monthly?
            %p.text-sm.mb-4
              %strong Day of Month:
              = @list.payment_schedule.day_of_month || "N/A"

          - if @list.payment_schedule.weekly? || @list.payment_schedule.biweekly?
            %p.text-sm.mb-4
              %strong Day of Week:
              = @list.payment_schedule.day_of_week || "N/A"

          - if @list.payment_schedule.yearly?
            %p.text-sm.mb-4
              %strong Month of Year:
              = @list.payment_schedule.month_of_year || "N/A"

          %p.text-sm.mb-4
            %strong Notification Lead Time (days before due):
            = @list.payment_schedule.notification_lead_time

        - else
          %p.text-sm.mb-4.text-red-500 No payment schedule is associated with this list item.

        .mt-8
          = link_to 'Edit', edit_list_path(@list), class: 'text-blue-500 hover:text-blue-700 font-semibold'
          \|
          = link_to 'Back', lists_path, class: 'text-blue-500 hover:text-blue-700 font-semibold'
          \|
          = link_to 'Delete', @list, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: 'text-red-500 hover:text-red-700 font-semibold'
