%body.bg-background
  .bg-background
    .relative.isolate.px-6.pt-14.lg:px-8.mx-auto
      .mx-auto.max-w-2xl.py-32.sm:py-48.lg:py-56
        %p#notice= notice

        %p
          %b Name:
          = @list.name
        %p
          %b Price:
          = @list.price
        %p
          %b Description:
          = @list.description
        %p
          %b Due date:
          = @list.due_date
        %p
          %b Effective Start date:
          = @list.effective_start_date
        %p
          %b Effective End date:
          = @list.effective_end_date
        - if @list.payment_schedule
          %h2 Payment Schedule Details

          %p
            %strong Frequency:
            = @list.payment_schedule.frequency

          %p
            %strong Day of Month:
            = @list.payment_schedule.day_of_month || "N/A"

          %p
            %strong Day of Week:
            = @list.payment_schedule.day_of_week || "N/A"

          %p
            %strong Month of Year:
            = @list.payment_schedule.month_of_year || "N/A"

          %p
            %strong Notification Lead Time (days before due):
            = @list.payment_schedule.notification_lead_time

        - else
          %p No payment schedule is associated with this list item.

        = link_to 'Edit', edit_list_path(@list)
        \|
        = link_to 'Back', lists_path
