%body.bg-background
  .bg-background
    .relative.isolate.px-6.pt-14.lg:px-8.mx-auto
      .mx-auto.max-w-2xl.py-32.sm:py-48.lg:py-56
        %h2.text-2xl.font-bold.mb-4.text-center Resend confirmation instructions
        = form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, class: "space-y-6" }) do |f|
          = render "devise/shared/error_messages", resource: resource

          .space-y-4
            .field
              %div.text-left
                = f.label :email, class: "block text-sm font-medium text-gray-700"
              = f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-500 focus:ring-opacity-50"

            .actions
              %span{class: "block text-center"}
                = f.submit "Resend confirmation instructions", class: "w-full inline-flex items-center justify-center rounded-md bg-indigo-600 px-4 py-2 text-white font-semibold shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-opacity-50"

        %span{class: "block text-center mt-4"}
          = render "devise/shared/links"
