.space-y-5
  .field
    = f.label :default_date_range_list_display, "Display Days from Current day", class: "block text-gray-700 font-bold mb-2"
    = f.number_field :default_date_range_list_display,
      class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline",
      min: 1

  .field
    = f.label :default_currency, "Default Currency", class: "block text-gray-700 font-bold mb-2"
    - currency_options = Money::Currency.table.values.map { |currency| ["#{currency[:iso_code]} (#{currency[:symbol]})", currency[:iso_code]] }
    = f.select :default_currency,
      options_for_select(currency_options, @user_setting.default_currency),
      {},
      class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"

  .field
    = f.label :notification_lead_time, "Notify days before due", class: "block text-gray-700 font-bold mb-2"
    = f.number_field :notification_lead_time,
      class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline",
      min: 0
