%body.bg-background
  .bg-background
    .relative.isolate.px-6.pt-14.lg:px-8.mx-auto
      .mx-auto.max-w-2xl.py-32.sm:py-48.lg:py-56
        %h2.text-2xl.font-bold.mb-4.text-center Log in
        = form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'space-y-4' }) do |f|
          .space-y-4
            .field
              %div.text-left
                = f.label :email, class: "block text-sm font-medium text-gray-700"
              = f.email_field :email, autofocus: true, autocomplete: "email", class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-500 focus:ring-opacity-50"
            .field
              %div.text-left
                = f.label :password, class: "block text-sm font-medium text-gray-700"
              = f.password_field :password, autocomplete: "current-password", class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-500 focus:ring-opacity-50"
            - if devise_mapping.rememberable?
              .field.flex.items-center
                = f.check_box :remember_me, class: "h-4 w-4 text-indigo-600 border-gray-300 rounded focus:ring-indigo-500"
                %label.ml-2{for: "user_remember_me", class: "block text-sm font-medium text-gray-700"}
                  Remember me
            .actions
              %span{class: "sm:ml-1"}
                = f.submit "Log in", class: "w-64 h2 inline-flex items-center rounded-md bg-gray-400 px-3 py-2 text-xl font-semibold text-white shadow-sm hover:bg-gray-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray"
        %span{class: "sm:mt-4"}
          = render "devise/shared/links"
